/* color palette from <https://github.com/vuejs/theme> */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
/*sidebar*/
.custom-avatar-icon {
  line-height: 30px;
}
.text-menu {
  font-size: 18px;
  font-weight: 400;
}
.group-text-menu{
  font-size: 16px;
}
.dashboard-container{
  padding-left: 8px;
  padding-right: 8px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E00C16;
}
.ant-tabs-nav-wrap{
  background-color: white !important;
  padding-left: 22px;
  padding-right: 22px;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #E00C16 !important;
}
.text-sub-title{
  color:#676767;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.edit-icon{
  color: #007AFF;
  padding-bottom: 0px;
}
.u-receiver{
  background-color: #F0A420;
}
.custom-select .ant-select-selector, .custom-select .ant-input-number .ant-input-number-input {
  display: flex !important;
  align-items: center !important;
  height: 32px !important; /* Match input height */
}
 .custom-select .ant-input-number .ant-input-number-input {
  display: flex !important;
  align-items: center !important;
  height: 32px !important; /* Match input height */
   width: 100%;
}
.custom-select-phone .ant-input-number .ant-input-number-input {
   width: 60%;
}
.ant-select .ant-select-arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.custom-select .ant-select-arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.anticon {
  vertical-align: middle !important;
}
.anticon svg{
  display: block;
}
.custom-card .ant-card-body {
  padding-top: 8px;
  padding-bottom: 8px;
}
.custom-table-card .ant-card-body{
  padding: 18px 8px 12px 8px !important;
}
.export-button{
  background: #16A34A;
}
.search-button {
  background: #EC1D27;
}
.clear-button {
  border: 1px solid #6D6D6D;
  background-color: white;
  color: #1F2A37;
}
.ant-tabs {
  margin-bottom: 1px;
}
.custom-tab .ant-tabs-nav {
  margin: 0 0 8px 0;
}
.dashed-line {
  border-top: 2px dashed #D9D9D9; /* Gray color */
  margin: 6px 0;
}

/* Timeline item alignment */
.a-timeline-item {
  padding-left: 0 !important;
}

.a-timeline-item-head-green {
  background-color: #10b981 !important;
}

.a-timeline-item-head-gray {
  background-color: #d1d5db !important;
}
.ant-drawer .ant-drawer-footer{
  border-top: none;
}
.ant-table-tbody {
  font-size: 14px;
  font-weight: 400;
  color: #131313;
  line-height: 110%;
}
.divider {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: #EFEFEF;
}
.btn-disabled {
  background-color: #ccc !important; /* Gray background */
  color: #666 !important; /* Gray text */
  cursor: not-allowed !important; /* Not-allowed cursor */
  border-color: #ccc !important; /* Gray border */
  pointer-events: none; /* Prevent any interaction */
}
.ant-btn-primary {
  color: white;
  background-color: var(--color-red-600);
  /* border-color: var(--color-red-600); */
}
.ant-btn-primary:hover{
  color: white;
  background-color: var(--color-red-600) !important;
  /* border-color: var(--color-red-600); */
}
