/* color palette from <https://github.com/vuejs/theme> */
@media (prefers-color-scheme: dark) {
  :root {
  }
}
/*sidebar*/
.custom-avatar-icon {
  line-height: 30px;
}
.text-menu {
  font-size: 18px;
  font-weight: 400;
}
.group-text-menu{
  font-size: 16px;
}
.dashboard-container{
  padding-left: 8px;
  padding-right: 8px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E00C16;
}
.ant-tabs-nav-wrap{
  background-color: white !important;
  padding-left: 22px;
  padding-right: 22px;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #E00C16 !important;
}
.text-sub-title{
  color:#676767;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.edit-icon{
  color: #007AFF;
  padding-bottom: 0px;
}
.u-receiver{
  background-color: #F0A420;
;
}
.custom-select .ant-select-selector {
  display: flex !important;
  align-items: center !important;
  height: 32px !important; /* Match input height */
}

.custom-select .ant-select-arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.
.anticon {
  vertical-align: middle !important;
}
.anticon svg{
  display: block;
}
.custom-card .ant-card-body {
  padding-top: 8px;
  padding-bottom: 8px;
}
.custom-table-card .ant-card-body{
  padding: 18px 8px 12px 8px !important;
}
.export-button{
  background: #16A34A;
}
.search-button {
  background: #EC1D27;
}
.clear-button {
  border: 1px solid #6D6D6D;
  background-color: white;
  color: #1F2A37;
}
.ant-tabs {
  margin-bottom: 1px;
}
.custom-tab .ant-tabs-nav {
  margin: 0 0 8px 0;
}



